//estilo barra menu
.barra-menu {
    flex: 1 1 auto;
    background-color: rgb(65, 179, 247);
  }

.espacio-barra{
    width: 300px;
}

.color-volver{
    background-color: rgb(65, 179, 247);
}

///////////////@at-root
//estilo titulo
.titulo{
    text-align:center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }
  
  .titulo1{
    margin-top: 10%;
    width: 100%;
    height: 10%;
  }