<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">


    <ion-tab-button class="color-volver" routerLink="/perfil-profesor" tab="schedule">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-tab-button>

    <span class="espacio-barra">RegistrAPP</span>
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>
  <div>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Calidad de Software
        </mat-panel-title>
        <mat-panel-description>
          ASY-002
        </mat-panel-description>
      </mat-expansion-panel-header >
      <p routerLink="/crear-qr">Generar QR</p>
    </mat-expansion-panel>
  </div>
</ion-content>
