<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">


    <ion-tab-button class="color-volver" routerLink="/perfil-profesor" tab="schedule">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-tab-button>

    <span class="espacio-barra">RegistrAPP</span>Asignaturas
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>
  <div class="ramos">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header *ngFor = "let ramo of ramos">
        <mat-panel-title>
          {{ramo.nombre}}
        </mat-panel-title>
        <mat-panel-description>
          {{ramo.sigla}}-{{ramo.seccion}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p (click)="opciones()">Opciones</p>
    </mat-expansion-panel>
  </div>
</ion-content>
