<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">


    <ion-tab-button class="color-volver" routerLink="/perfil-alumno" tab="schedule">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-tab-button>

    <span class="espacio-barra">RegistrAPP</span>Perfil
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>
  <ion-list class="perfil">
    <ion-item *ngFor ="let alumno of alumnos">
      <ion-avatar slot="start">
       <ion-img class="fperfil" [src]="alumno.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <p>Nombre Alumno</p>
        <h2> <p>{{alumno.nombre}} {{alumno.apellidoP}}</p></h2>
        <p>Usuario</p>
        <h1> <p>{{alumno.usuario}} </p></h1>
        <p>Correo</p>
        <h1> <p>{{alumno.correo}} </p></h1>
        <p>Carrera</p>
        <h1> <p>{{alumno.carrera}} </p></h1>
      </ion-label>
    </ion-item>
  
</ion-list>
</ion-content>
