<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">


    <ion-tab-button class="color-volver" routerLink="/perfil-alumno" tab="schedule">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-tab-button>

    <span class="espacio-barra">RegistrAPP</span>
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
</ion-content>
