<!--<ion-header>
  
</ion-header>-->


<!--BARRA DE MENU-->
<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">

    <span class="espacio-barra">RegistrAPP</span>
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>

  <div class="imagen-fondo">
    <img class="imagen-png" src="/assets/img/icon.png" alt="" />
    <h4 class="titulo22">Login Acceso</h4>
  </div>

  <ion-list lines="full" class="ion-login">
    <ion-list-header lines="full">
      <ion-label clas="ion-titulo">
        
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>

    <ion-item>
      <mat-label (click)='irReestablecerPass()' class="contraseña">¿Has olvidado tu contraseña?</mat-label>
    </ion-item>

  
  <div class="ingresar-info">

    
    <button (click)='validar()' class="boton-ingresar" mat-raised-button matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over">
      Ingresar
    </button>
  </div>
</ion-list>

</ion-content>