.barra-menu {
    flex: 1 1 auto;
    background-color: rgb(65, 179, 247);
}
.espacio-barra {
    width: 300px;
}

.color-volver {
    background-color: rgb(65, 179, 247);
}

ion-content {
    --background: url("/assets/img/fondoxd.jpg") no-repeat 100% 100%;
}
.demo-inline-calendar-card {
    width: 300px;
    margin-top: 25px;
    margin: auto;
  }
.calendario{
    
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}