<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">


    <ion-tab-button class="color-volver" routerLink="/perfil-alumno" tab="schedule">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-tab-button>

    <span class="espacio-barra">RegistrAPP</span>Asignaturas
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>
<div id="calendario">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
    <ion-label> Dia seleccionado : {{selected}}</ion-label>
  </mat-card>
  
</div>

<div class="asignaturas">
  <mat-expansion-panel hideToggle *ngFor = "let asignatura of asignaturas">
    <mat-expansion-panel-header >
      <mat-panel-title>
        {{asignatura.nombre}}
      </mat-panel-title>
      <mat-panel-description>
        {{asignatura.sigla}}-{{asignatura.seccion}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p routerLink="/escanear-qr">Escanear QR</p>
    <p routerLink="/ver-asist">Ver Asistencia</p>
  </mat-expansion-panel>
</div>

</ion-content>
