<!--<ion-header>
  
</ion-header>-->
<!--BARRA DE MENU-->
<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">



    <ion-tab-button class="color-volver" routerLink="/perfil-profesor" tab="schedule">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-tab-button>


    <span class="espacio-barra">RegistrAPP</span>
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>

  <!--BARRA PARA CAMBIAR DE PAGINA?-->
  <!--<mat-tab-group>
    <mat-tab label="Opcion 1"> Primera</mat-tab>
    <mat-tab label="Opcion 2"> Segunda </mat-tab>
    <mat-tab label="Opcion 3"> Tercera </mat-tab>
  </mat-tab-group>-->

   
  <ion-title class="titulo">Generando QR</ion-title>

 
  
  <ion-card class="clase-qr" *ngIf="qrData">
    <div class="codigo-separar">
       <ngx-qrcode  [elementType]='elementType' [value]='qrData'></ngx-qrcode>
    </div>
   
 <!--<ion-input class="cajadetexto" type="text" placeholder="Ingrese Direccion" [(ngModel)]="qrData"></ion-input>-->
 
  </ion-card>
  


  <!------------------------------------------------->


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="asis">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Asistencias</ion-label>
        <ion-badge>1</ion-badge>
      </ion-tab-button>
      <ion-tab-button routerLink="/crear-qr" tab="crear-qr">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Generar QR</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>