<!--<ion-header>
  
</ion-header>-->


<!--BARRA DE MENU-->
<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">


    <ion-tab-button class="color-volver" routerLink="/home" tab="schedule">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-tab-button>

    <span class="espacio-barra">RegistrAPP</span>
  </mat-toolbar-row>
</mat-toolbar>
<ion-content>




  <!--BARRA PARA CAMBIAR DE PAGINA?-->
  <!--<mat-tab-group>
    <mat-tab label="Opcion 1"> Primera</mat-tab>
    <mat-tab label="Opcion 2"> Segunda </mat-tab>
    <mat-tab label="Opcion 3"> Tercera </mat-tab>
  </mat-tab-group>-->


  <ion-title class="titulo">Reestablecer la <br>Contraseña</ion-title>



  <form class="formulario-ingreso">
    <mat-form-field class="cajas-input" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="cajas-input" appearance="fill">
      <mat-label>Correo Electronico</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>

    


    <div class="ingresar-info">
      <button (click)='mensajeAlerta1()' class="boton-ingresar" mat-raised-button matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
        Reestablecer
      </button>
    </div>
    <!--<mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>-->
  </form>

</ion-content>