//estilo titulo
.titulo{
    text-align:center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin-top: 0%;
    margin-bottom: 50px;
    width: 100%;
    height: 15%;
  }
  
  //estilo barra menu
  .barra-menu {
      flex: 1 1 auto;
      background-color: rgb(65, 179, 247);
    }
  
  //HOJA ESTILO BOTONES IMPUT
  .formulario-ingreso {
      min-width: 150px;
      max-width: 500px;
      width: 80%;
      margin: auto;
      margin-top: 30%;
    }
    
    .cajas-input {
      width: 100%;
    }
  
  .ingresar-info .boton-ingresar{
      margin: auto;
      width: 100%;
      background-color: rgb(65, 179, 247);
  }
  
  
  ///////////////
  .espacio-barra{
    width: 300px;
  }
  
  .color-volver{
    background-color: rgb(65, 179, 247);
  }
  
  ion-content{
    --background: url('/assets/img/fondoxd.jpg') no-repeat 100% 100%;
  }