.barra-menu {
    flex: 1 1 auto;
    background-color: rgb(65, 179, 247);
}
.espacio-barra {
    width: 300px;
}

.color-volver {
    background-color: rgb(65, 179, 247);
}

ion-content {
    --background: url("/assets/img/fondoxd.jpg") no-repeat 100% 100%;
}
.lista{
    margin-top: 150px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.opciones{
    margin-left: 45%;
}