<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">


    <ion-tab-button class="color-volver" routerLink="/asig-docente" tab="schedule">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-tab-button>

    <span class="espacio-barra">RegistrAPP</span>Lista Presentes
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>

  <ion-tabs class="barrabaja">
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="lista()">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Alumnos</ion-label>
        <ion-badge></ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

<div class="alumno">
  <ion-list>
    <ion-item-sliding   *ngFor="let usuario of usuarios">
      <ion-item >
        <ion-label >
          <h2>{{usuario.nombre}} - {{usuario.apellido}}</h2>
          
        </ion-label>
        <ion-note slot="end">
          {{hora}}
        </ion-note>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical" (click)="opciones()"></ion-icon>
          Opciones
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
</ion-content>