//estilo barra menu
.barra-menu {
    flex: 1 1 auto;
    background-color: rgb(65, 179, 247);
  }

.espacio-barra{
    width: 300px;
}

.color-volver{
    background-color: rgb(65, 179, 247);
}


.clase-qr{
    margin: auto;
    background-color: rgb(65, 179, 247);
    width: 200px;
    height: 200px;
}