<!--<ion-header>
  
</ion-header>-->
<!--BARRA DE MENU-->
<mat-toolbar color="primary">
  <mat-toolbar-row class="barra-menu">

    <ion-tab-button class="color-volver" routerLink="/perfil-alumno" tab="schedule">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-tab-button>
    
    <span class="espacio-barra">RegistrAPP</span>
    
    <ion-tab-button class="color-volver" (click)='mensajeCerrarSesion()' tab="schedule">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-tab-button>


    
  </mat-toolbar-row>
</mat-toolbar>

<ion-content>

 


  <!--BARRA PARA CAMBIAR DE PAGINA?-->
  <!--<mat-tab-group>
    <mat-tab label="Opcion 1"> Primera</mat-tab>
    <mat-tab label="Opcion 2"> Segunda </mat-tab>
    <mat-tab label="Opcion 3"> Tercera </mat-tab>
  </mat-tab-group>-->


  <ion-title class="titulo">Escanear QR</ion-title>

  <!------------------------------------------------->


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="asis">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Asistencias</ion-label>
        <ion-badge>1</ion-badge>
      </ion-tab-button>
      <ion-tab-button routerLink="/escanear-qr" tab="crear-qr">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Escanear QR</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/perfil-alumno" tab="perfil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>